.header
  .container
    .header__inner
      a.header-logo.header-logo--desktop(href="#")
        span Art
        span Gallery
      a.header-logo.header-logo--laptop(href="#")
        .header-toggle
          .header-toggle__item
        span A
        span G
      .header-menu
        a.header-menu__item(href="#") Каталог
        a.header-menu__item(href="#") Художникам
        a.header-menu__item(href="#") Блог
        .header-menu__item.js-extra Ещё

      .header-tools
        a.header-tools__item.popup-entry.is-hide-item(href="#popup-register-hide-block")
          .header-tools__item-inner
            svg.header-tools__icon.is-active
              use(xlink:href="#icon-user")
            span.header-user Авторизация

        a.header-tools__item.js-user-select
          .header-tools__item-inner
            img.header-tools__avatar.is-active(src="assets/images/header/avatar.jpg")
            svg.header-tools__icon
              use(xlink:href="#icon-user")
            span.header-user  Инокентий

        .mfp-hide.popup-wrapper(id='popup-register-hide-block')
          .popup-registration
            .popup-header
              .popup-header__title Регистрация
              .popup-header__content
                .popup-header__subtitle Это бесплатно и займёт не более 3ёх минут
                .popup-header__authorization
                  .span.js-log-help Уже зарегистрированны?
                  .span.js-log-in Авторизация
            
            .popup-content
              form.popup-form-registration(action="#" data-validate)
                .popup-user
                  .popup-user__item
                    input.popup-user__item-mark(type="radio" id="painter" name="who" checked)
                    label.popup-user__item-name(for="painter") Я художник
                  .popup-user__item
                    input.popup-user__item-mark(type="radio" id="customer" name="who")
                    label.popup-user__item-name(for="customer") Я покупатель
                .popup-main  
                  .popup-social
                    .popup-social__title С помощью социальных сетей
                    a.popup-social__item(href="#")
                      i.fab.fa-vk
                      .popup-social__network VKontakte 
                    a.popup-social__item(href="#") 
                      i.fab.fa-facebook-f
                      .popup-social__network Facebook
                    a.popup-social__item(href="#") 
                      i.fab.fa-odnoklassniki
                      .popup-social__network Odnoklassniki
                    a.popup-social__item(href="#") 
                      i.fab.fa-google-plus-g
                      .popup-social__network Google +
                  .popup-register
                    .popup-register__title С помощью E-mail
                    .popup-register__name-wrapper
                      .popup-register__item
                        .popup-register__input-title Имя
                        input.popup-register__name.js-error(type="text" name="name" autocomplete="off")
                      .popup-register__item
                        .popup-register__input-title Фамилия
                        input.popup-register__surname.js-error(type="text" name="surname" autocomplete="off")
                    .popup-register__item
                      .popup-register__input-title E-mail
                      input.popup-register__email.js-error(type="email" name="email" autocomplete="off") 
                    .popup-register__item
                      .popup-register__input-title Пароль
                      input.popup-register__password.js-error(type="password" name="password" autocomplete="off")
                    .popup-register__item.js-hide-agreement
                      input.popup-register__agreement.js-error(type="checkbox" name="agreement")
                      span Я согласен с
                      span пользовательским соглашением
                    input.popup-register__btn(type="submit" value='зарегестрироваться')
                    .popup-remove-pas.hide
                      span Забыли пароль?
                      span.js-remove-pas Восстановить пароль
          
          .popup-authorization.hide
            .popup-header.popup-header--authorization
              .popup-header__title Авторизация
              .popup-header__content
                .popup-header__authorization
                  .span Ещё не аккаунта?
                  .span.js-reg-in Зарегестрироваться
            
            .popup-content.popup-content--authorization
              form.popup-form-authorization(action="#" data-validate)
                .popup-main  
                  .popup-social
                    .popup-social__title С помощью социальных сетей
                    a.popup-social__item(href="#")
                      i.fab.fa-vk
                      .popup-social__network VKontakte 
                    a.popup-social__item(href="#") 
                      i.fab.fa-facebook-f
                      .popup-social__network Facebook
                    a.popup-social__item(href="#") 
                      i.fab.fa-odnoklassniki
                      .popup-social__network Odnoklassniki
                    a.popup-social__item(href="#") 
                      i.fab.fa-google-plus-g
                      .popup-social__network Google +
                  .popup-register
                    .popup-register__item
                      .popup-register__input-title E-mail
                      input.popup-register__email.js-error(type="email" name="email" autocomplete="off") 
                    .popup-register__item
                      .popup-register__input-title Пароль
                      input.popup-register__password.js-error(type="password" name="password" autocomplete="off")
                    input.popup-register__btn(type="submit" value='авторизоваться')
                    .popup-remove-pas
                      span Забыли пароль?
                      span.js-remove-pas Восстановить пароль

          .popup-remove-pass.hide
            .popup-header
              .popup-header__title Ввостановить пароль
            .popup-content
              form.popup-form-remove-pass(action="#" data-validate)
                .popup-register
                  .popup-register__item
                    .popup-register__input-title Введите свой e-mail
                    input.popup-register__email.js-error(type="email" name="email" autocomplete="off" placeholder="E-mail")
                  input.popup-register__btn.js-remove-pas-btn(type="submit" value='Востановить пароль')
                  .popup-remove-pas
                    span Вспомнили пароль?
                    span.js-log-in Авторизоваться
            
          .popup-successful.hide
            .popup-header
              .popup-header__title Успех!
            span Мы отправили на ваш e-mail инструкцию по сбросу пароля
            i.fas.fa-check 

        a.header-tools__item(href="#")
          .header-tools__item-inner
            svg.header-tools__icon
              use(xlink:href="#icon-heart")
            span.header-tools__item-tip 4

        a.header-tools__item(href="#")
          .header-tools__item-inner
            svg.header-tools__icon
              use(xlink:href="#icon-bag")
            span.header-tools__item-tip 72

        a.header-tools__item.js-search
          .header-tools__item-inner
            svg.header-tools__icon
              use(xlink:href="#icon-search")
        
        select.header-tools__item.header-tools__select
          option RU
          option EN
          option CH
          option UK

  .header-search
    .container
      form.header-search__form
        input(type="text" placeholder='Поиск...').header-search__field
        button(type="reset").header-search__btn.header-search__btn--reset
        button(type="submit").header-search__btn.header-search__btn--submit
  .header-extra
    .container
      .header-extra__inner
        a.header-extra__item(href="#") О проекте
        a.header-extra__item(href="#") Доставка 
        a.header-extra__item(href="#") Политика конфидециальности
  .header-settings
    .header-settings__first-group
      a.header-settings__item(href="#") Мой профиль
      a.header-settings__item(href="#") Мои заказы
      a.header-settings__item(href="#") Сообщения
    .header-settings__second-group
      a.header-settings__item(href="#") Настройки профиля
      a.header-settings__item(href="#") Мои работы
    a.header-settings__item(href="#") Выход
    