// header ================================================================
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 9999;
  padding-top: 20px;

  @media screen and (max-width: 767px) {
    padding-top: 4px;

    background-color: #fff;
    color: #000;
  }

  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

    @media screen and (max-width: 767px) {
      padding-bottom: 4px;
    }
  }

  // toggle ==========================

  &-toggle{
    position: relative;
    display: none;
    width: 18px;
    height: 14px;
    margin-left: 6px;
    margin-right: 26px;

    @media screen and (max-width: 767px) {
      display: block;
    }

    &:after,
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      transition: transform .3s ease;
    }

    &:after{
      bottom: 0;
    }

    &:before{
      top: 0;
    }
  }

  &-toggle__item{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: background .3s ease;
    @include posa-center;
  }

  .is-active{
    .header-toggle__item{
      background:none;
    }

    &:before{
      transform-origin: left top;
      transform: rotate(45deg);
    }

    &:after{
      transform-origin: left bottom;
      transform: rotate(-45deg) ;
    }
  }

  .is-active-extra{

  }

  // logo =============================
  &-logo{
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
    
    span{
      &:first-child{
        font-weight: 900;
      }

      &:nth-child(2){

        @media screen and (max-width: 767px) {
          font-weight: 900;
        }
      }
    }
  }

  &-logo--desktop{
    @media screen and (max-width: 1259px) {
      display: none;
    }
  }

  &-logo--laptop{
    display: none;
    @media screen and (max-width: 1259px) {
      display: flex;
    }

    span{
      &:nth-child(2){
        font-weight: 900;
      }
    }
  }

  // menu =============================
  &-menu{
    display: flex;

    @media screen and (min-width: 1260px){
      display: flex!important;
    }

    @media screen and (max-width: 1259px) {
      display: none;
      flex-wrap: wrap;
      position: absolute;
      background-color: #fff;
      top:48px;
      left: 0;
      width: 100%;
    }
  }

  &-menu__item{
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 31px;
    cursor: pointer;

    font-size: 16px;

    transition: background-color .3s ease;

    @media screen and (max-width: 1259px) {
      display:inline-block;
      // так норм или нет?
      margin-right: 90%;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &:hover{
      background-color: #000;

      @media screen and (max-width: 1259px) {
        width: 100%;
        background:none;
      }
    }


    &:last-child{

      @include arrow-down;
      &:after{
        right: 15%;
        top: 38%;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;

        width: 7px;
        height: 7px;
      }

      &:before{
        position: absolute;
        content: '';
        display: block;
        bottom: -49%;
        left: 50%;
        transform: translateX(-50%);
        border: 0 solid transparent;
        border-right-width: 20px;
        border-left-width: 20px;
        border-bottom: 16px solid #fff;
        opacity: 0;

        transition: opacity .4s ease;
      }
    }
  }

  .js-user-select{
    &:before{
      position: absolute;
      content: '';
      display: block;
      bottom: -49%;
      left: 55%;
      transform: translateX(-50%);
      border: 0 solid transparent;
      border-right-width: 20px;
      border-left-width: 20px;
      border-bottom: 16px solid #fff;
      opacity: 0;

      transition: opacity .7s ease;
    }
  }

  .js-triangle{
    &:before{
      opacity: 1;
    }
  }

  // tools ============================
  &-tools{
    display: flex;
    justify-content: space-between;
  }

  &-tools__item{
    position: relative;
    margin: auto 0;
    height: 40px;
    padding: 0 31px;
    cursor: pointer;

    transition: background-color .3s ease;

    @media screen and (max-width: 767px){
      padding: 0 15px; 
    }


    &:hover{
      background-color: #000;

      @media screen and (max-width: 767px){
        background: none; 
      }
    }

    &:first-child{
      cursor: auto;
      @media screen and (max-width: 1259px) {
        padding-right: 12px;
      }

      @media screen and (max-width: 1259px) {
        padding: 0;
      }

      &:hover{
        background-color: transparent;
      }

      .header-tools__icon{
        display: none;
      }

      .is-active{
        display: inline-block;
      }

      span{
        cursor: pointer;
        margin-left: 10px;
        padding-left: 10px;
        padding-right: 10px;
        transition: background-color .3s ease ;

        @media screen and (max-width: 767px){
          display: none;
        }

        &:hover{
          background-color: #000;
        }
      }
    }

    &:nth-child(2){
      &:hover{
        background-color: transparent;
      }

      .header-tools__icon{
        display: none;
      }

      .is-active{
        display: inline-block;
      }

      span{
        cursor: pointer;
        margin-left: 10px;
        padding-left: 10px;
        padding-right: 10px;
        transition: background-color .3s ease ;

        @media screen and (max-width: 767px){
          display: none;
        }

        &:hover{
          background-color: #000;
        }
      }
    }

    

    &:last-child{
      @media screen and (max-width: 1259px){
        padding-left: 4px;
      }
    }

    &:nth-child(4){
      @media screen and (max-width: 767px){
        padding-right: 0;
        padding-left: 22px;
      }
    }
  }

  &-tools__avatar{
    width: 42px;
    height: 42px;
    border-radius:50%;
    display: none;
  }

  &-user{
    margin-left: 12px;
    padding: 0 10px;
  }

  .is-active{
    display: inline-block;
  }

  .is-hide-item{
    display: none;
  }

  &-tools__item-inner{
    position: relative;
    min-width: 23px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: flex;
    align-items: center;
  }

  &-tools__item-tip{
    position: absolute;
    top: 22%;
    left: 78%;
    border-radius: 10px;
    padding: 0 7px;
    max-width: 3.5;
    height: 1.2;
    background-color: #666666;
    font-size: 13px;
    text-align: center;
    line-height: 18px;

    @media screen and (max-width: 767px) {
      color:#fff;
    }
  }

  &-tools__icon{
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: #fff;
    font-size: 23px;
    vertical-align: middle;

    @media screen and (max-width: 767px) {
      fill: #000;
    }
  }

  .select2{
    display: flex;
    justify-content: center;
    align-items: center;
    transition:background-color .3s ease ;
    cursor: pointer;
    &:hover{
      background-color: #000;
    }

    @media screen and (max-width: 767px){
      display: none;
    }
  }

  .selection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .select2-selection{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    color:#fff;
  }

  .select2-selection--single{
    background-color: transparent;

    .select2-selection__rendered{
      padding: 0;
      padding: auto;
      color:#fff;
    }
  }

  .select2-selection__arrow{
    display: none;
  }

  &-search{
    width: 100%;
    height: 140px;
    background-color: #9febeb;
    padding: 35px 0;
    display: none;

    @media screen and (max-width: 767px) {
      padding: 15px 0;
      height: 70px;
    }
  }

  &-search__form{
    display: flex;
    justify-content: center;
  }

  &-search__field{
    border: none;
    list-style: none;
    font-size: 24px;
    padding: 16px;
    color:#999;
    width: 62.90322580645161%;

    @media screen and (max-width: 767px) {
      font-size: 16px;
      padding: 8px;
      width: 100%;
    }
    &:focus{
      ::-webkit-input-placeholder {
        color:transparent;
      }
    }
  }

  &-extra{
    width: 100%;
    height: 83px;
    background-color: #ffffff;
    padding: 23px 0;
    display: none;

    &__inner{
      color:#000;
      display: flex;
      position: relative;
    }

    &__item{
      height: 40px;
      display: flex;
      padding: 0 13px;
      align-items:center;
      cursor: pointer;

      transition: background-color .3s ease,
                  color .3s ease;

      &:hover{
        color:#fff;
        background-color: #333333;
      }
    }
  }

  &-settings{
    background-color: #fff;
    position: absolute;
    right: 33.5%;
    color:#000;
    padding: 18px 23px;
    display: none;

    &__item{
      width: 230px;
      height: 46px;
      display: flex;
      align-items:center;
      padding-left: 21px;

      &:hover{
        cursor: pointer;
        background-color: #333333;
        color:#fff;
        transition: background-color .3s ease,
                    color .3s ease ;
      }
    }

    &__first-group{
      border-bottom: 1px solid #ccc;
      padding: 12px 0;
    }

    &__second-group{
      border-bottom: 1px solid #ccc;
      padding: 12px 0;
      margin-bottom: 12px;
    }
  }

  input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
  input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
  input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
  input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
  input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
  input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
  input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
  input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

  &-search__btn{
    width: 60px;
    height: 70px;
    background-color: #fff;
    position: relative;
    border:none;
    cursor: pointer;

    @media screen and (max-width: 767px) {
      width: 60px;
      height: 40px;
    }
  }

  &-search__btn--reset{
    
    &:after,
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 35px;
      height: 3px;
      background-color: #ccc;
      left: 8px;
      @media screen and (max-width: 767px) {
        left: 10px;
      }
    }

    &:after{
      transform-origin: left bottom;
      transform: rotate(45deg);
      top: 18px;
      @media screen and (max-width: 767px) {
        top: 6px;
      }
    }

    &:before{
      transform-origin: left top;
      transform: rotate(-45deg);
      bottom: 23px;
      @media screen and (max-width: 767px) {
        bottom: 5px;
      }
    }

    
  }

  &-search__btn--submit{
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 28px;
      height: 28px;
      border:3px solid #ccc;
      border-radius:50%;
      top: 18px;

      @media screen and (max-width: 767px) {
        width: 24px;
        height: 24px;
        top: 6px;
      }
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 10px;
      height: 3px;
      background-color: #ccc;
      transform: rotate(45deg);
      top: 60%;
      left: 50%;

      @media screen and (max-width: 767px) {
        top: 70%;
      }
    }
  }

  form{
    background-color: #fff;
    color: #fff;
  }

}

