.main-carousel(data-main-carousel)
  .main-carousel__item
    .main-carousel__inner(style="background-image: url('assets/images/main-carousel/main-carousel-bg-1.jpg');")
      .container
        .main-carousel__content
          //- нужен ли тут спан или нет?
          .main-carousel__suptitle Новое на этой неделе
          h1.main-carousel__title 
            span Лучшие фигуративные
            span произведения 
          .main-carousel__subtitle 
            span Новые оригинальные работы, выбранные нашим эспертом 
          a.main-carousel__btn.btn(href='#') Открыть
  .main-carousel__item
    .main-carousel__inner(style="background-image: url('assets/images/main-carousel/main-carousel-bg-2.jpg');")
      .container
        .main-carousel__content
          //- нужен ли тут спан или нет?
          .main-carousel__suptitle Новое на этой неделе
          h1.main-carousel__title 
            span Лучшие фигуративные 
            span произведения
          .main-carousel__subtitle 
            span Новые оригинальные работы, выбранные нашим эспертом
          a.main-carousel__btn.btn(href='/#') Открыть
  .main-carousel__item
    .main-carousel__inner(style="background-image: url('assets/images/main-carousel/main-carousel-bg-3.jpg');")
      .container
        .main-carousel__content
          //- нужен ли тут спан или нет?
          .main-carousel__suptitle Новое на этой неделе
          h1.main-carousel__title 
            span Лучшие фигуративные 
            span произведения
          .main-carousel__subtitle 
            span Новые оригинальные работы, выбранные нашим эспертом
          a.main-carousel__btn.btn(href='#') Открыть