.main-carousel{
  position: relative;

  &__inner{
    width: 100%;
    height: 800px;
    max-height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (max-width: 1259px) {
      height: 600px;
      max-height: 600px;
    }

    @media screen and (max-width: 767px) {
      height: 440px;
      max-height: 440px;
    }
  }

  &__content{
    color:#fff;
    padding-top: 246px;

    @media screen and (max-width: 1259px) {
      padding-top: 147px;
    }

    @media screen and (max-width: 767px) {
      padding-top: 97px;
    }
  }

  &__suptitle{
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.8);
    padding: 6px 28px;

    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__title{
    max-width: 580px;
    margin-top: 7px;

    font-size: 49px;
    line-height: 52px;
    font-weight: 300;
    font-style: normal;

    @media screen and (max-width: 767px) {
      margin-top: 1px;
      font-size: 24px;
      line-height: 36px;
    }
    
    span{
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 0 28px;

      @media screen and (max-width: 767px) {
        padding: 0 12px;
      }

      &:first-child{
        padding-top: 6px;

        @media screen and (max-width: 767px) {
          padding-top: 0;
        }
      }

      &:last-child{
        padding-bottom: 12px;

        @media screen and (max-width: 767px) {
          padding-bottom: 0;
        }
      }
    }
  }

  &__subtitle{
    margin-top: 6px;
    max-width: 387px;

    font-size: 22px;
    line-height: 31px;
    font-weight: 400;
    font-style: normal;

    @media screen and (max-width: 767px) {
      max-width: 270px;
      margin-top: 2px;
      font-size: 16px;
      line-height: 22px;
    }

    span{
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 14px 28px;

      @media screen and (max-width: 767px) {
        padding: 10px 16px;
      }
    }
  }

  &__btn{
    margin-top: 45px;
    padding: 0 74px;
    background-color: rgba(0, 0, 0, 0.8);
    border:1px solid #fff;
    color: #fff;

    @media screen and (max-width: 767px) {
      padding: 0 61px;
      margin-top: 9px;
    }

    &:hover{
      border-color: transparent;
      background-color: rgba(0, 0, 0, 1);
    }
  }

  .slick-dots{
    position: absolute;
    bottom : 0;
    left: 0;
    width: 100%;
    bottom: 60px;
    display: flex;
    justify-content: center;
    list-style: none;

    @media screen and (max-width: 1259px) {
      bottom: 40px;
    }

    @media screen and (max-width: 767px) {
      bottom: 30px;
    }

    li{
      padding: 10px;
      cursor: pointer;
    }

    button{
      background:none;
      border-radius:50%;
      display: block;
      width: 12px;
      height: 12px;
      border: 1px solid rgba(0, 0, 0, 0.35);
      padding: 0;
      font-size: 0;
      line-height: 1px;
      box-shadow: inset 0px 0px 0px 2px #fff;
      background-color: transparent;
      transition: background-color 0.2s ease;
    }

    .slick-active{
      button{
        background: #fff;
      }
    }
  }

}