@font-face{
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/Proxima Nova/Proxima Nova Light.eot');
	src: url('../assets/fonts/Proxima Nova/Proxima Nova Light.eot?#iefix')format('embedded-opentype') , url('../assets/fonts/Proxima Nova/Proxima Nova Light.woff2') format('woff2') ,  url('../assets/fonts/Proxima Nova/Proxima Nova Light.woff') format('woff'),  url('../assets/fonts/Proxima Nova/Proxima Nova Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/Proxima Nova/Proxima Nova Light Italic.ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face{
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/Proxima Nova/Proxima Nova Regular.eot');
	src: url('../assets/fonts/Proxima Nova/Proxima Nova Regular.eot?#iefix')format('embedded-opentype') , url('../assets/fonts/Proxima Nova/Proxima Nova Regular.woff2') format('woff2') ,  url('../assets/fonts/Proxima Nova/Proxima Nova Regular.woff') format('woff'),  url('../assets/fonts/Proxima Nova/Proxima Nova Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/Proxima Nova/Proxima Nova Regular Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face{
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/Proxima Nova/Proxima Nova Semibold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face{
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/Proxima Nova/Proxima Nova Semibold Italic.ttf');
	font-weight: 600;
	font-style: italic;
}

@font-face{
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/Proxima Nova/Proxima Nova Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/Proxima Nova/Proxima Nova Condensed Bold Italic.ttf');
	font-weight: 700;
	font-style: italic;
}

@font-face{
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/Proxima Nova/Proxima Nova Black.ttf');
	font-weight: 900;
	font-style: normal;
}

@font-face{
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/Proxima Nova/Proxima Nova Black Italic.ttf');
	font-weight: 900;
	font-style: italic;
}