// header ==========================================
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 9999;
  padding: 20px 0;

  &__inner{
    display: flex;
    justify-content: space-between;
  }

  // logo =============================
  &-logo{
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
    span{
      &:first-child{
        font-weight: 900;
      }
    }
  }

  // menu =============================
  &-menu{
    display: flex;
  }

  &-menu__item{
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 31px;
    cursor: pointer;

    font-size: 16px;

    transition: background-color .3s ease;

    &:hover{
      background-color: #000;
    }

    &:last-child{
      &:after{
        display: block;
        content: '';

        position: absolute;
        right: 15%;
        top: 38%;
        border:0;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;

        width: 7px;
        height: 7px;

        transform: rotate(-45deg);

        background-color: transparent;
      }
    }
  }

  // tools ============================
  &-tools{
    display: flex;
    justify-content: space-between;
  }

  &-tools__item{
    margin: auto 0;
    height: 40px;
    padding: 0 31px;
    cursor: pointer;

    transition: background-color .3s ease;

    &:hover{
      background-color: #000;
    }


    &:last-child{
      span{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &-tools__item-inner{
    position: relative;
    min-width: 23px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }

  &-tools__item-tip{
    position: absolute;
    top: 22%;
    left: 78%;
    border-radius: 10px;
    padding: 0 7px;
    max-width: 3.5;
    height: 1.2;
    background-color: #666666;
    font-size: 13px;
    text-align: center;
    line-height: 18px;

  }

  &-tools__icon{
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: #fff;
    font-size: 23px;
    vertical-align: middle;


  }
}
