// цвета
$white: #f7f8f8;
$gray:#f3f4f5;
$blue:#1e2026;
$link:#009999;

// выравнивание absolute элементов по центру
@mixin posa-center{
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// стрелка вниз для селектов
@mixin arrow-down{
	&:after{
		display: block;
		content: '';

		position: absolute;
		right: 5%;
		top: 45%;
		border:0;
		border-left: 2px solid #000;
		border-bottom: 2px solid #000;

		width: 5px;
		height: 5px;
		cursor: pointer;

		z-index: 20;

		transform: rotate(-45deg);
		transition: transform .3s ease;

		background-color: transparent;
	}
}

// тёмная линия под заголовком
@mixin black-line{
	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 40px;
		height: 1px;
		background-color: #000;

		// transform: width .3s linear;
		transition: background-color .3s ease;
	}
}

// анимцаия при наведении на тёмную линию под заголовком
@mixin black-line-hover{
	&:hover{
		&:after{
			animation-duration: .3s;
			animation-name: blackLine;
			animation-timing-function: linear;
			animation-fill-mode:forwards;

			@keyframes blackLine{
				0%{
					width: 40px;
					background-color: #000;
				}

				100%{
					width: 100%;
					background-color: $link;
				}
			}
		}
	}
}

// cтрелки для слайдеров на основной странице
@mixin main-slick-arrow{
	.slick-arrow{
    position: absolute;
    top:-70px;
    width: 55px;
    height: 55px;
    border-radius:50%;
    background-color: #fff;
    border: none;
		font-size: 0;
		
		@media screen and (max-width: 767px) {
			top:10px; 
    } 

    cursor: pointer;
    
    transition:background-color .3s ease;
      &:hover{
        background-color: #4a4f52;
        &:after{
          border-color: #fff;
        }
      }

    &:after{
      content: '';
      display: block;
      position: absolute;
      @include posa-center;
      top:40%;
      left: 40%;
      width: 12px;
      height: 12px;
      border-left: 2px solid #000;
      border-bottom: 2px solid #000;
      transform: rotate(45deg);

      transition:border-color .3s ease;
    }
  }

  .slick-next{
    right: 0%;
		transform: rotate(180deg);
		
		@media screen and (max-width: 767px) {
			top:10px;
			right: auto;
			left: 51%;
    } 
  }

  .slick-prev{
		right: 60px;
		
		@media screen and (max-width: 767px) {
			right: 51%;
    } 
	}
	

}
