@import '_fonts';
@import '_reset';
@import '_mixins';

/**
 * Global
 */
 
*,
*::after,
*::before {
	outline: none !important;
	box-sizing: border-box;
	min-width: 0;
	min-height: 0;
	touch-action: manipulation;
}
input, select, textarea, button {
	-webkit-appearance: none;
}
html {
	-webkit-text-size-adjust: 100%;
}
a {
	color: inherit;
	text-decoration: none;
}

body{
	font-size: 18px;
	font-family: 'Proxima Nova';
	letter-spacing: 0.025em;
	font-weight: 400;
	font-style: normal;
}

.wrapper{
	overflow: hidden;
	width: 100%;
	position: relative;
}

.container{
	width: 1240px;
	margin: 0 auto;
	max-width: 100%;

	@media screen and (max-width: 1259px) {
		padding: 0 20px;
	}

	@media screen and (max-width: 767px) {
		padding: 0 10px;
	}
}



@import '../components/elements/_elements';
@import '../components/header/_header';
@import '../components/main-carousel/_main-carousel';
@import '../components/section-begining/_section-begining';
@import '../components/works/_works';
@import '../components/style/_style';
@import '../components/news/_news';
@import '../components/info/_info';
@import '../components/footer/_footer';





