.news{
  background-color: $gray;


  &-slider{
    display: flex;
  }
 

  &-slider__item{
    width: 48.38709677419355%;
    @media screen and (max-width: 1259px) {
      width: 100%; 
    }  

    &:nth-child(even){
      .news-slider__inner{
        float: right;  
        @media screen and (max-width: 1259px) {
          float: left; 
        }  
      }
    }
  }

  &-slider__inner{
    padding-top: 70px;
    padding-bottom: 100px;
    display: flex;
    width: 100%;
    max-width: 600px;

    justify-content: space-between;

    @media screen and (max-width: 1259px) {
      max-width: 100%;
      padding-bottom: 60px;
      padding-top: 40px;
    } 

    @media screen and (max-width: 767px) {
      padding-bottom: 45px;
      padding-top: 89px;
      flex-wrap: wrap;
    }

  }

  &-slider__img{
    width: 25.5%;
    max-height: 151.38px;

    @media screen and (max-width: 767px) {
      width: 100%;
      max-height: 308px;
    }

    @media screen and (max-width: 511px) {
      width: 100%;
      max-height: 208px;
    }
  }

  &-slider__content{
    position: relative;
    width: 75.5%;
    height:255px ;
    padding-left: 40px;
    font-weight: 600;

    @media screen and (max-width: 767px) {
      width: 100%;
      height: auto;
      padding-left: 0;
    }
  }

  &-slider__suptitle{
    display: inline-block;
    position: relative;
    line-height: 1;
    font-size: 14px;
    text-transform: uppercase;

    padding-bottom: 19px;
    padding-top: 3px;

    cursor: pointer;

    transition: color .3s ease;

    &:hover{
      color:$link;
    }

    @include black-line;
    @include black-line-hover;

    @media screen and (max-width: 1256px) {
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      padding-top: 15px;
      font-size: 15px;
      width: 100%;
    }
  }

  &-slider__date{
    position: absolute;
    right: 0;
    top: 3px;
    font-weight: 400;
    color:#666666;
    @media screen and (max-width: 767px) {
      font-size: 13px;
      right: auto;
      top: 65px;
    }
  }

  &-slider__title{
    display: inline-block;
    padding-top: 29px;
    font-size: 19px;
    line-height: 29px;
    cursor: pointer;

    border-top: 1px solid #ccc;

    transition: color .3s ease;

    @media screen and (max-width: 1256px) {
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      padding-top: 42px;
      font-size: 15px;
      line-height: 21px;
      width: 100%;
    }

    &:hover{
      color:$link;
    }
  }

  &-slider__text{
    display: inline-block;
    padding-top: 23px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;

    @media screen and (max-width: 767px) {
      padding-top: 20px;
      font-size: 15px;
      line-height: 21px;
      width: 100%;
    }
  }

  &-slider__link{
    position: relative;
    font-size: 16px;
    line-height: 1;
    color:#333;
    display: inline-block;
    cursor: pointer;
    padding-right: 53px;

    transition: color .3s ease;

    &:hover{
      color:$link;

      &:after{
        background-color:$link;  
      }

      &:before{
        border-color:$link;
      }
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 36px;
      height: 2px;
      background-color: #000;
      transition: background-color .3s ease;
    }

    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      top: 21.5%;
      right: 0;
      transform: rotate(45deg);
      border-top: 1.7px solid #000;
      border-right: 1.7px solid #000;
      transition: border-color .3s ease;
    }
  }

  .slick{
    &-slide{
      margin: 0 20px;

      @media screen and (max-width: 1259px) {
        margin: 0 15px;
      }
    }

    &-list{
      margin-left: -20px;
      margin-right: -20px;

      @media screen and (max-width: 1259px) {
        margin-left: -15px;
      margin-right: -15px;
      }
    }
  }

  @include main-slick-arrow
}