.news.section
  .news__title.title-section Новости искусства
  .container
    .news-slider(data-news-slider)
      .news-slider__item
        .news-slider__inner
          img.news-slider__img(src="assets/images/news/img-1.jpg")
          .news-slider__content
            a.news-slider__suptitle(href='#') Галереи и выставки
            .news-slider__date 21.12.18
            a.news-slider__title(href='#') Обзор нашего экспетра Владимира Рубинштейна-Загорского
            .news-slider__text Теперь чтобы увидеть и сравнить все 36 картин культового голландца, не нужно объезжать весь мир.
            a.news-slider__link(href='#') Смотреть и читать
      .news-slider__item
        .news-slider__inner
          img.news-slider__img(src="assets/images/news/img-2.jpg")
          .news-slider__content
            a.news-slider__suptitle(href='#') Галереи и выставки
            .news-slider__date 21.12.18
            a.news-slider__title(href='#') Обзор нашего экспетра Владимира Рубинштейна-Загорского
            .news-slider__text Теперь чтобы увидеть и сравнить все 36 картин культового голландца, не нужно объезжать весь мир.
            a.news-slider__link(href='#') Смотреть и читать
      .news-slider__item
        .news-slider__inner
          img.news-slider__img(src="assets/images/news/img-3.jpg")
          .news-slider__content
            a.news-slider__suptitle(href='#') Галереи и выставки
            .news-slider__date 21.12.18
            a.news-slider__title(href='#') Обзор нашего экспетра Владимира Рубинштейна-Загорского
            .news-slider__text Теперь чтобы увидеть и сравнить все 36 картин культового голландца, не нужно объезжать весь мир.
            a.news-slider__link(href='#') Смотреть и читать
      .news-slider__item
        .news-slider__inner
          img.news-slider__img(src="assets/images/news/img-4.jpg")
          .news-slider__content
            a.news-slider__suptitle(href='#') Галереи и выставки
            .news-slider__date 21.12.18
            a.news-slider__title(href='#') Обзор нашего экспетра Владимира Рубинштейна-Загорского
            .news-slider__text Теперь чтобы увидеть и сравнить все 36 картин культового голландца, не нужно объезжать весь мир.
            a.news-slider__link(href='#') Смотреть и читать
      .news-slider__item
        .news-slider__inner
          img.news-slider__img(src="assets/images/news/img-5.jpg")
          .news-slider__content
            a.news-slider__suptitle(href='#') Галереи и выставки
            .news-slider__date 21.12.18
            a.news-slider__title(href='#') Обзор нашего экспетра Владимира Рубинштейна-Загорского
            .news-slider__text Теперь чтобы увидеть и сравнить все 36 картин культового голландца, не нужно объезжать весь мир.
            a.news-slider__link(href='#') Смотреть и читать
      .news-slider__item
        .news-slider__inner
          img.news-slider__img(src="assets/images/news/img-6.jpg")
          .news-slider__content
            a.news-slider__suptitle(href='#') Галереи и выставки
            .news-slider__date 21.12.18
            a.news-slider__title(href='#') Обзор нашего экспетра Владимира Рубинштейна-Загорского
            .news-slider__text Теперь чтобы увидеть и сравнить все 36 картин культового голландца, не нужно объезжать весь мир.
            a.news-slider__link(href='#') Смотреть и читать
      


