.works{
  background-color: $gray;

  .container{
    position: relative;
  }

  &-filter{
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;

    @media screen and (max-width: 1259px) {
      display: none;
    }

  }

  &__filter-title{
    display: flex;
    font-size: 14px;
    margin-right: 20px;
    line-height: 1;
    align-items:center;
  }

  &__filter-select{
    position: relative;
    width: 280px;
    display: inline-block;
    text-align: left;
    font-size: 15px;
    line-height: 1;
    border:none;
    background-color: #fff;

    @include arrow-down;
  }

  // перевести на другой плагин
  .js-select{
    &:after{
      transform: rotate(-225deg);
    }
  }

  .jq-selectbox__select-text{
    padding: 10px 12px;
    cursor: pointer;
  }

  .jq-selectbox__dropdown{
    width: 100%;
    border:none;
    box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.15);
  }

  li{
    padding: 10px 12px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color .2s ease,
                color .2s ease ;
    &:hover{
      background-color: rgb(77, 76, 76);
      color:#fff;
    }
  }

  &__gallery{
    padding-top: 50px;
    padding-bottom: 60px;

    @media screen and (max-width: 767px) {
      padding-top: 30px;
      padding-bottom: 35px;
    }
  }

  &__gallery-inner{
    padding-bottom: 50px;

    @media screen and (max-width: 767px) {
      padding-bottom: 35px;
    }
  }

  &__gallery-item{
    width: 22.33870967741935%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    @media screen and (max-width: 1259px) {
      width: 32.28021978021978%;
    }

    @media screen and (max-width: 767px) {
      width: 48.66666666666667%;
    }
  }

  &__gallery-img{
    // width: 100%;
    height: 100%;
    width: auto;
    height: 100%;
    max-height: 530px;
  }

  &__gallery-content{
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #ccc;

    @media screen and (max-width: 767px) {
      padding: 11px 8px;
    }
  }

  &__gallery-title{

    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    @media screen and (max-width: 1259px) {
      font-size: 12px;
    }
  }

  &__gallery-author{
    margin: 12px 0;
    font-size: 15px;
    line-height: 18px;
    @media screen and (max-width: 1259px) {
      font-size: 14px;
      margin: 8px 0;
    }
  }

  &__gallery-size{
    font-size: 14px;
    color:#666666;
    @media screen and (max-width: 1259px) {
      font-size: 12px;
    }
  }

  &__extra-bar-wrapper{
    position: absolute;
    top: 0;
    left: 14px;
    transform: translateY(-65%);
    display: flex;

    @media screen and (max-width: 767px) {
      left: 6px;
    }
  }

  &__extra-bar{
    padding: 4px 12px;
    font-size: 13px;
    line-height: 1;
    color:#fff;
    background-color: #990000;
    display: none;
    margin-right: 15px;

    @media screen and (max-width: 767px) {
      padding: 3px 4px;
      margin-right: 5px;
      font-size: 11px;
    }
  }

  &__extra-bar--discount{
    background-color: #65b040;
    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }

  &__gallery-price{
    padding: 15px;
    position: relative;
    width: 100%;

    @media screen and (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0;
    }
  }

  &__price{
    display: inline-block;
    @media screen and (max-width: 1259px) {
      font-size: 16px;
    }

    @media screen and (max-width: 767px) {
      display: block;
      text-align: center;
      width: 100%;
      margin-bottom: 12px;
    }
  }

  &__price-old{
    position: relative;
    display: inline-block;
    color:#ccc;
    font-size: 14px;
    margin-left: 10px;
    opacity: 0;
    &:after{
      content: '';
      display: block;
      width: 110%;
      height: 1px;
      background-color: #ccc;
      position: absolute;
      top:38%;
      left: -5%;
    }

    @media screen and (max-width: 1259px) {
      font-size: 12px;
    }

    @media screen and (max-width: 767px) {
      order:-1;
      margin: 0 auto;
      margin-bottom: 6px;
      text-align: center;
    }
  }

  &__gallery-favorites{
    position: absolute;
    display: flex;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    @media screen and (max-width: 767px) {
      position: relative;
      width: 100%;
      top: auto;
      right: auto;
      transform: translateY(0);
      padding: 0 18px;
      padding-top: 8px;
      justify-content: space-between;
      border-top: 1px solid #ccc;
    }
  }

  &__gallery-icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    stroke-width:25;
    fill: rgba(255,255,255,0);
    stroke:$link;
    margin-right: 20px;
    cursor:pointer;
    transition: fill .3s ease;
    
    &:last-child{
      
      @media screen and (max-width: 1259px) {
        margin-right: 10px;
      }

      @media screen and (max-width: 767px) {
        margin-right: 0;
      }
    }
  }

  .is-test{
    opacity: 1;
  }

  .js-extra-bar--active{
    display: inline-block;
  }

  .is-active{
    fill:$link;
  }

  &__gallery-btn-wrapper{
    display: flex;
    justify-content: center;
  }

  &__gallery-btn{

    @media screen and (max-width: 767px) {
      padding-right: 94px;
      padding-left: 96px;
    }

    &:hover{
      background-color: #000;
      color:#fff;
    }
  }

  .works-custom-container{
    font-size: 15px;
    font-weight: 400;
    border:none;
    text-align: left;
  
    .select2-selection__rendered{
      padding: 0;
      padding-left: 16px;
    }
  }

}

