.works.section
  .works__title.title-section Новые работы
    .container
      .works-filter
        .works__filter-title Сортировать по
        select.works__filter-select
          option(value="1") Дате добавления
          option(value="2") Популярности
          option(value="3") Отзывам
          option(value="4") Названию
          option(value="5") Цене
  .works__gallery
    .container
      .works__gallery-inner
        .works__gallery-item
          img.works__gallery-img(src='assets/images/works/img-1.jpg')
          .works__gallery-content
            .works__gallery-title Распоряжения о структуре тут длинное название картины 
            .works__gallery-author Екатерина Александровна Преображенская
            .works__gallery-size Картина, 80х60 см.
            .works__extra-bar-wrapper
              .works__extra-bar.works__extra-bar--new.js-extra-bar--active Новинка
              .works__extra-bar.works__extra-bar--discount.js-extra-bar--active Скидка 20%
          .works__gallery-price
            .works__price 927750 ₽
            .works__price-old.is-test 727750
            .works__gallery-favorites
              svg.works__gallery-icon
                use(xlink:href="#icon-heart-fill")
              svg.works__gallery-icon
                use(xlink:href="#icon-bag-fill")
      .works__gallery-btn-wrapper
        button.works__gallery-btn.btn Смотреть всё

