<!DOCTYPE html>
html
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	meta(name="format-detection" content="telephone=no")
	title art-index

	link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.12.1/css/all.css", integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv", crossorigin="anonymous")

	link(rel="stylesheet" href="css/libs.min.css")
	link(rel="stylesheet" href="css/main.css")

	script(src="js/libs.min.js" defer)
	script(src="js/common.js" defer)

body

	//- sprite
	svg(style="display:none")
		symbol(viewBox="0 0 4.99 5.15"  id="icon-user" xmlns="http://www.w3.org/2000/svg")
			path(d="M4.26 3.32c.49.49.73 1.13.73 1.76v.07h-.52v-.07c0-.51-.19-1.01-.58-1.4a1.96 1.96 0 0 0-1.4-.58c-.51 0-1.01.19-1.4.58-.39.39-.58.89-.58 1.4v.07h-.52v-.07c0-.64.24-1.28.73-1.76.49-.49 1.13-.73 1.76-.73.64 0 1.28.24 1.76.73z")
			path(d="M3.05 1.86a.78.78 0 0 0 .23-.55c0-.2-.08-.4-.23-.55A.78.78 0 0 0 2.5.53c-.2 0-.4.08-.55.23a.78.78 0 0 0-.23.55c0 .2.08.4.23.55.15.15.35.23.55.23.2 0 .4-.08.55-.23zm.75-.55c0 .33-.13.67-.38.92s-.59.38-.92.38c-.33 0-.67-.13-.92-.38s-.38-.59-.38-.92c0-.33.13-.67.38-.92s.59-.38.92-.38c.33 0 .67.13.92.38s.38.59.38.92z")

		symbol(viewBox="0 0 4.85 4.3" id='icon-heart' xmlns='http://www.w3.org/2000/svg')
			path( d="M3.45 0c-0.4,0 -0.77,0.16 -1.03,0.44 -0.53,-0.57 -1.45,-0.6 -2.01,-0.04 -0.55,0.55 -0.55,1.43 -0,1.98l1.84 1.85c0.09,0.09 0.23,0.09 0.32,0l1.86 -1.85c0.27,-0.27 0.41,-0.62 0.41,-0.99 -0,-0.77 -0.63,-1.4 -1.4,-1.4zm0.67 2.06l-1.7 1.69 -1.69 -1.69c-0.37,-0.37 -0.37,-0.96 0,-1.33 0.43,-0.43 1.18,-0.35 1.49,0.21 0.09,0.16 0.32,0.16 0.4,-0 0.16,-0.3 0.47,-0.48 0.82,-0.48 0.52,0 0.94,0.42 0.94,0.94 0,0.25 -0.1,0.49 -0.28,0.67z")

		symbol(viewBox="-13 -28 534.00002 512" id='icon-heart-fill' xmlns='http://www.w3.org/2000/svg')
			path(d="m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0")

		symbol(viewBox="0 0 2.91 3.64" id='icon-bag' xmlns='http://www.w3.org/2000/svg')
			path(d="M1.46 0c-0.4,0 -0.73,0.33 -0.73,0.73l-0.73 0 0 2.91 2.91 0 0 -2.91 -0.73 0c0,-0.4 -0.33,-0.73 -0.73,-0.73zm0 0.36c0.2,0 0.36,0.16 0.36,0.36l-0.73 0c0,-0.2 0.16,-0.36 0.36,-0.36zm1.09 0.73l0 2.18 -2.18 0 0 -2.18 2.18 0z")

		symbol(viewBox="0 0 512 512" id='icon-bag-fill' xmlns='http://www.w3.org/2000/svg')
			path( path d="M447.988,139.696c-0.156-2.084-1.9-3.696-3.988-3.696h-72v-20C372,52.036,319.96,0,256,0S140,52.036,140,116v20H68 c-2.088,0-3.832,1.612-3.988,3.696l-28,368c-0.084,1.108,0.296,2.204,1.056,3.02C37.824,511.536,38.888,512,40,512h432 c1.112,0,2.176-0.464,2.932-1.28c0.756-0.816,1.14-1.912,1.056-3.02L447.988,139.696z M172,116c0-46.316,37.68-84,84-84 s84,37.684,84,84v20H172V116z M156,248c-22.06,0-40-17.944-40-40c0-15.964,8-30.348,24-36.66V208c0,8.824,7.18,16,16,16 s16-7.176,16-16v-36.636c16,6.312,24,20.804,24,36.636C196,230.056,178.06,248,156,248z M356,248c-22.06,0-40-17.944-40-40 c0-15.964,8-30.348,24-36.66V208c0,8.824,7.18,16,16,16s16-7.176,16-16v-36.636c16,6.312,24,20.804,24,36.636 C396,230.056,378.06,248,356,248z")

		symbol(viewbox='0 0 3.6 3.6' id='icon-search' xmlns='http://www.w3.org/2000/svg')
			path(d='M2.32 2.6l1 1 .28-.28-1-1z')
			path(d='M2.64.45c.3.3.45.7.45 1.09 0 .4-.15.79-.45 1.09a1.545 1.545 0 0 1-2.18 0 1.545 1.545 0 0 1 0-2.18c.3-.3.7-.45 1.09-.45.4 0 .79.15 1.09.45zm.06 1.09c0-.29-.11-.59-.34-.81C2.13.5 1.84.39 1.55.39 1.26.39.96.5.74.73.52.95.4 1.25.4 1.54c0 .29.11.59.34.81.22.22.52.34.81.34.29 0 .59-.11.81-.34.23-.22.34-.52.34-.81z')
		


	.wrapper
		include components/header/_header.pug
		include components/main-carousel/_main-carousel.pug
		include components/section-begining/_section-begining.pug
		include components/works/_works.pug
		include components/style/_style.pug
		include components/news/_news.pug
		include components/info/_info.pug
		include components/footer/_footer.pug


