.info{
  background-color: $blue;
  padding-top: 90px;
  padding-bottom: 70px;

  @media screen and (max-width: 1259px) {
    padding: 30px 0;
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 0;
  }

  &__inner{
    width: 100%;
    display: flex;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__column{
    width: 16.12903225806452%;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color:#fff;

    &:first-child{
      @media screen and (max-width: 1259px) {
        display: none;
      }
    }

    &:nth-child(2){
      @media screen and (max-width: 1259px) {
        display: none;
      }
    }

    &:nth-child(3){
      @media screen and (max-width: 1259px) {
        display: none;
      }
    }
  }

  &__column-item{
    display: inline-block;
    padding-left: 13px;
    padding-right: 13px;
    line-height: 30px;
    margin-left: -13px;
    transition: background-color .3s ease ;
    cursor: pointer;

    &:hover{
      background-color: $link;
    }

    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__column-title{
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    padding-bottom: 16px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: color .3s linear;

    @include black-line;
    @include black-line-hover;
    &:after{
      background-color: #fff;
    }

    &:hover{
      color:$link;
    }

    @media screen and (max-width: 767px) {
      display:none;
    }
  }

  i{
    width: 15px;
    margin-right: 13px;
  }

  &__column--contacts{
    width: 29.03225806451613%;
    @media screen and (max-width: 1259px) {
      width: 47.11538461538462%;
    }

    .info__column-inner{
      display: block;
      padding-left: 21px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      order:1;
    }

    .info__column-pay-systems{
      display:none;

      @media screen and (max-width: 767px) {
        display: block;
        padding-top: 29px;
        padding-bottom: 20px;
        width: 68.66666666666667%;
        max-width: 281px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__column-item--phone{
    font-size: 21px;
    padding-bottom: 13px;
    cursor: auto;
    &:hover{
      background-color: transparent;
    }
  }

  &__column-item--mail{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 13px;
    color:#ccc;

    &:hover{
      background-color: transparent;
    }
  }

  &__column-item--address{
    &:hover{
      background-color: transparent;
    }
  }

  &__column--social{
    width: 22.58064516129031%;
    @media screen and (max-width: 1259px) {
      width: 53.02197802197802%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .info__column-title{
      @media screen and (max-width: 767px) {
        display:none;
      }
    }

    .info__column-item{
      position: relative;
      display: inline-block;
      line-height: 1;
      padding-bottom: 16px;
      margin-bottom: 20px;
      cursor: auto;
      &:hover{
        background-color: transparent;
      }

      @include black-line;
      &:after{
        background-color: #ccc;
        left: 13px;
      }

      @media screen and (max-width: 767px) {
        display:none;
      }
    }


  }

  &__social{
    display: flex;
    justify-content: space-between;
    width: 213px;
    margin-bottom: 30px;
  }

  &__social-item{
    position: relative;
    width: 45px;
    height: 45px;
    border:1px solid #ccc;
    border-radius:50%;
    cursor: pointer;

    transition: background-color .3s ease;

    i{
      position: absolute;
      @include posa-center;
      width: auto;
      margin-left: 0;
      transition: color .3s ease;
    }

    &:hover{
      background-color: #ccc;

      i{
        color:$blue;
      }
    }
  }

  &__column-pay-systems{
    display: block;

    @media screen and (max-width: 767px) {
      display:none;
    }
  }
}