.info
  .container
    .info__inner
      .info__column
        a.info__column-title(href='#') Об Artgallery
        .info__column-inner
          a.info__column-item(href='#') О проекте
        .info__column-inner
          a.info__column-item(href='#') Блог
        .info__column-inner
          a.info__column-item(href='#') Авторы
      .info__column
        a.info__column-title(href='#') Покупателям
        .info__column-inner
          a.info__column-item(href='#') Доставка
        .info__column-inner
          a.info__column-item(href='#') Оплата
        .info__column-inner
          a.info__column-item(href='#') Возврат
      .info__column
        a.info__column-title(href='#') Каталог
        .info__column-inner
          a.info__column-item(href='#') Картины
        .info__column-inner
          a.info__column-item(href='#') Коллажи
        .info__column-inner
          a.info__column-item(href='#') Илюстрации
      .info__column.info__column--contacts
        .info__column-inner
          a.info__column-title(href='#') Контакты
        .info__column-inner
          i.fas.fa-mobile-alt
          a.info__column-item.info__column-item--phone(href='#') + 7 (999) 123-123-44
        .info__column-inner
          i.fas.fa-envelope
          a.info__column-item.info__column-item--mail(href='#') info@domainname.ru
        .info__column-inner
          i.fas.fa-map-marker-alt
          a.info__column-item.info__column-item--address(href='#') г. Москва, Преснесенская наб., 12
        img.info__column-pay-systems(src='assets/images/info/pay-img.png')
      .info__column.info__column--social
        a.info__column-title(href='#') Мы в социальных сетях
        .info__social
          a.info__social-item(href='#')
            i.fab.fa-vk
          a.info__social-item(href='#')
            i.fab.fa-facebook-f
          a.info__social-item(href='#')
            i.fab.fa-odnoklassniki
          a.info__social-item(href='#')
            i.fab.fa-instagram
        a.info__column-item(href='#') Платёжные системы
        img.info__column-pay-systems(src='assets/images/info/pay-img.png')
