.btn{
	display: inline-block;
	border:1px solid #000;
	padding: 0 50px;
	cursor: pointer;

	font-size: 17px;
	line-height: 52px;
	text-align: center;
	color:#000;

	transition: border-color .3s ease,
              background-color .3s ease,
              color .3s ease,
              opacity .3s ease;
}

.section{
	padding-top: 55px;
	background-color: $white;

	@media screen and (max-width: 767px) {
		padding-top: 33px;
	}
}

.title-section{
	position: relative;
	padding-bottom: 18px;

	text-align: center;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;

	border-bottom:1px solid #cccccc;

	@media screen and (max-width: 767px) {
		padding-bottom: 14px;
		line-height: 1.2;
		font-size: 22px;
	}

	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: -1px;
		left: 50%;
		transform: translateX(-50%);

		width: 40px;
		height: 1px;
		background-color: #000;

	}
}

.header-custom-dropdown{
	position: relative;
	top: 20px;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	color:#fff;
	border:none;
	transition:background-color .3s ease ;

	.select2-results__option[aria-selected=true]{
		background-color: #000;
	}

	.select2-results__option--highlighted[aria-selected]{
		background-color: #000;
	}

}

.works-custom-dropdown{
	border:none;	
	font-size: 16px;
	.select2-results__option{
		padding-left: 15px;
	}

	.select2-results__option[aria-selected=true]{
		background-color: #ccc;
	}

	.select2-results__option--highlighted[aria-selected]{
		background-color: #ccc;
		color:#000;
		transition:background-color .3s ease ;
	}
}

.popup-wrapper{
	// width: 860px;
	// height: 650px;
	background-color: #fff;
	display: inline-block;
	// flex-wrap: wrap;
	// align-items: flex-start;
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
	padding-bottom: 50px;
	padding-left: 45px;
	padding-right: 45px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}


.popup-header{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	height: 90px;
	width: 100%;
	border-bottom: 1px solid #ccc;
	@include black-line;

	&__title{
		display: inline-block;
		font-size: 36px;
		line-height: 1;
		font-weight: 300;
	}

	&__content{
		display: flex;
		justify-content: space-between;
		width: 100%;
		font-size: 14px;
		color:#999;
		line-height: 1;
	}

	&__authorization{
		.span{
			display: inline-block;
			&:first-child{
				margin-right: 23px;
			}
			&:last-child{
				cursor: pointer;
				transition: color .3s ease;
				&:hover{
					color:rgb(82, 82, 82);
				}
			}
		}
	}
}

.js-account{
	position: absolute;
	right: 0;
}

.popup-remove-pas{
	font-size: 14px;
	color:#999;
	line-height: 1;
	text-align: center;
	margin-top: 14px;
	span{
		display: inline-block;
		&:first-child{
			margin-right: 23px;
		}
		&:last-child{
			cursor: pointer;
			transition: color .3s ease;
			&:hover{
				color:rgb(82, 82, 82);
			}
		}
	}

}

.popup-content{
	width: 100%;
	display: flex;
	// height: 460px;
	flex-wrap: wrap;
	// align-items: baseline;
}

.popup-main{
	padding-top: 28px;
	padding-left: 3px;
	width: 100%;
	// height: 402px;
	display: flex;
}

.popup-user{
	height: 58px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom:1px solid #ccc;
	font-weight: 600;
	font-size: 17px;

	&__item{
		display: flex;
		align-items: center;

		&:first-child{
			margin-right: 34px;
		}
	}


	&__item-mark{
		position: relative;
		width: 16px;
		height: 16px;
		border:2px solid $link;
		border-radius:50%;
		cursor: pointer;
		margin: 0;
		margin-right: 10px;

		&:checked{
			&:after{
				content: '';
				display: block;
				position: absolute;
				@include posa-center;
				width: 6px;
				height: 6px;
				background-color: $link;
				border-radius: 50%;
			}
		}
	}

	&__item-name{
		cursor: pointer;
	}
}

.popup-social{
	width: 38.3916990920882%;
	border-right: 1px solid #ccc;
	height: auto;

	&__title{
		margin-bottom: 15px;
	}

	&__item{
		position: relative;
		display: flex;
		align-items: center;
		width: 250px;
		height: 42px;
		border:1px solid #ccc;
		padding-left: 85px;
		border-radius: 20px;
		margin-bottom: 17px;
		cursor: pointer;
		transition: background-color .3s ease,
								border-color .3s ease,
								color .3s ease;

		i{
			position: absolute;
			left: 50px;
			transform: translateX(-50%);
			font-size: 18px;
			transition: fill .3s ease;
		}

		&:last-child{
			i{
				left: 55px;
			}
		}

		&:hover{
			background-color: $link;
			border-color:$link;
			color:#fff;

			i{
				fill: #fff;
			}
		}
	}
}

.popup-register{
	width: 61.6083009079118%;
	padding-left: 40px;
	line-height: 1;
	height: 100%;

	&__title{
		margin-bottom: 18px;
	}

	&__item{
		width: 100%;
		margin-bottom: 14px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;

		span{
			font-size: 14px;
			color:#999;

			&:nth-child(3){
				cursor: pointer;
				margin-left: 5px;
				border-bottom:2px dotted #000;
				transition: color .3s ease;

				&:hover{
					color:rgb(82, 82, 82);
				}
			}

		}
	}

	&__input-title{
		margin-bottom: 7px;
	}

	&__name-wrapper{
		display: flex;
		justify-content: space-between;

		.popup-register__item{
			display: block;
		}
	}

	&__name,
	&__surname{
		width: 208px;
		height: 40px;
		border:1px solid #ccc;
		padding: 14px;
		&.error{
			margin-top: 0;
		}
	}

	&__email,
	&__password{
		width: 100%;
		height: 40px;
		border:1px solid #ccc;
		padding: 14px;

		&.error{
			margin-top: 0;
		}
	}

	&__agreement{
		position: relative;
		width: 16px;
		height: 16px;
		border:2px solid $link;
		margin: 0;
		margin-right: 10px;
		cursor: pointer;

		&:checked{
			&:after{
				content: '';
				display: block;
				position: absolute;
				border-right: 3px solid $link;
				border-bottom: 3px solid $link;
				width: 6px;
				height: 10px;
				top: 4%;
				left: 26%;
				transform: rotate(45deg);
			}
		}

		&.error{
			margin-top: 0;
		}
	}

	&__btn{
		position: relative;
		width: 100%;
		height: 59px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		background-color: $link;
		color:#fff;
		margin-top: 34px;
		cursor: pointer;
		border:1px solid $link;
		transition:	background-color .3s ease,
								color .3s ease ;

		&:hover{
			background-color: #fff;
			color: $link;
			&:after{
				border-color:#fff;
			}
		}

		&:after{
			position: absolute;
			content: '';
			display: block;
			width: 426px;
			height: 53px;
			border:1px solid #b2dfdf;
			@include posa-center;
			transition: border-color .3s ease;
		}
	}
}

.js-remove-pas-register{
	width: 100%;
	padding-left: 0;
}

.error{
	color:#990000;
	font-size: 14px;
	line-height: 1;
	margin-top: 5px;
}

.error-title{
	color:#990000;
}

.hide{
	display: none;
}

.pas-wrapper{
	width: 532px;
}

.pas-header{
	width: 100%;
	height: 70px;
	&:after{
		left: 50%;
		transform: translateX(-50%);
	}
}

.pas-header__title{
	margin: 0 auto;
}


.mfp-close{
	top: 5px;
	right: 5px;
	opacity: 1;
	font-size: 45px;
	font-weight: 600;   
}

.popup-registration{
	width: 768px;

	.popup-form-registration{
		width: 100%;
	}

	.popup-header__registration{
		width: auto;
	}
}

.popup-authorization{
	width: 768px;

	.popup-form-authorization{
		width: 100%;
	}

	.popup-header{
		height: 58px;
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 100%;
	}
	.popup-header__content{
		width: auto;
		padding-top: 14px;
	}
}

.popup-remove-pass{
	width: 442px;
	.popup-header{
		height: 57px;
		&:after{
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.popup-header__title{
		width: 100%;
		text-align: center;
		display: inline-block;
	}

	.popup-form-remove-pass{
		width: 100%;
	}
	
	.popup-register{
		width: 100%;
		padding-left: 0;
		padding-top: 38px;
	}
}

.popup-successful{
	width: 440px;
	padding-top: 0;
	text-align: center;

	span{
		display: block;
		width: 378px;
		line-height: 18px;
		margin: 0 auto;
		margin-bottom: 35px;
		padding-top: 40px;
	}

	i{
		color:$link;
		font-size: 134px;
	}

	.popup-header{
		height: 57px;
		&:after{
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.popup-header__title{
		width: 100%;
		text-align: center;
		display: inline-block;
	}
}

.mfp-content{
	width: 860px;
}