.footer
  .container
    .footer__inner
      .footer-docs
        a.footer-docs__link(href='#') Политика конфендициальности
        a.footer-docs__link(href='#') Условия и положения
      a.footer-item(href='#') © Artgallery, 2018
      a.footer-item-img(href='#')
        img.footer-img(src='assets/images/footer/logo.png')
        .footer-img-text Разработка сайта
        .footer-author Hawking Brothers

