.footer{
  background-color: #191b1f;

  .container{
    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }

  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 30px 0;

    @media screen and (max-width: 1259px) {
      padding: 15px 0;
    }

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 0;
    }
  }

  &-item{
    position: relative;
    color:#fff;
    cursor: pointer;
    line-height: 1.7;
    font-weight: 300;
    font-size: 14px;

    &:nth-child(2){
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (max-width: 767px) {
        position: relative;
        left: 0;
        transform: translateX(0%);
        order: -1;
        line-height: 1;
        padding-bottom: 15px;
      }
    }

    &:hover{
      &:after{
        opacity: 1;
        @media screen and (max-width: 1259px) {
          opacity: 0;
        }
      }
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
      opacity: 0;
      transition: opacity .3s ease;
    }
  }

  &-docs{
    @media screen and (max-width: 767px) {
      width: 100%;
      background-color: #1f2127;
    }
  }

  &-docs__link{
    position: relative;
    display: inline-block;
    color:#fff;
    cursor: pointer;
    line-height: 1.7;
    font-weight: 300;
    font-size: 14px;
    margin-right: 30px;

    @media screen and (max-width: 767px) {
      text-align: center;
      margin-right: 0;
      width: 100%;
      line-height: 1;
      padding-top: 15px;
      font-size: 12px;
    }

    &:hover{
      &:after{
        opacity: 1;
        @media screen and (max-width: 1259px) {
          opacity: 0;
        }
      }
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
      opacity: 0;
      transition: opacity .3s ease;
    }

    &:nth-child(2){
      @media screen and (max-width: 1259px) {
        display: block;
      }
    }
  }

  &-item-text{
    display: inline-block;
    margin-left: 35px;
  }

  &-item-img{
    cursor: pointer;
    @media screen and (max-width: 767px) {
      width: 100%;
      text-align: center;
      background-color: #1f2127;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  &-img{
    width: 100px;
    height: 26px;
    margin-bottom: 7px;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &-img-text{
    font-size: 12px;
    color:#666666;
    @media screen and (max-width: 767px) {
      display: inline-block;
    }
  }

  &-author{
    display: none;
    position: relative;
    @media screen and (max-width: 767px) {
      display: inline-block;
      font-size: 12px;
      color:#666666;
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #666666;
    }
  }
}