.section-begining{
  padding-bottom:60px;

  @media screen and (max-width: 767px) {
    padding-bottom:50px;
  }
  &__inner{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      margin-top: 33px;
      flex-wrap: wrap;
    }
  }

  &__video{
    position: relative;
    width: 62.90322580645161%;
    max-height: 435px;
    // padding-top: 55.64102564102564%‬;

    @media screen and (max-width: 1259px) {
      min-height: 255px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      min-height: 205px;
      margin-bottom: 37px;
      display: flex;
      min-height: 165px;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }

    &:after{
      position: absolute;
      content: '';
      display: block;
      width: 70px;
      height: 70px;
      border:1px solid #fff;
      border-radius:50%;
      cursor: pointer;
      @include posa-center;
    }

    &:before{
      position: absolute;
      content: '';
      display: block;
      border-width: 8px 0 8px 16px;
      border-style: solid;
      border-color: transparent transparent transparent #fff;
      @include posa-center;
      left: 50.5%;
      
    }
  }

  &__video-img{
    width: 100%;
    height: 100%;
    background-size: contain;
  }

  &__video-text{
    position: absolute;
    left: 5.897435897435897%;
    width: 71.79487179487179%;
    display: inline-block;
    bottom: 9%;
    color:#fff;
    font-size: 25px;
    line-height: 29px;
    font-weight: 600;

    @media screen and (max-width: 1256px) {
      width: 90%;
      left: 2%;
    }

    @media screen and (max-width: 767px) {
      width: 90%;
      font-size: 17px;
      line-height: 24px;
      left: 2%;
    }
  }

  &__expert{
    width: 32.66129032258065%;
    text-align: left;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__expert-img{
    width: 100%;
    max-height: 282px;

    @media screen and (max-width: 1259px) {
      display: flex;
      min-height: 165px;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__expert-title{
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    padding: 20px 4px;
    cursor:pointer;

    @include black-line;
    @include black-line-hover;
    
    @media screen and (max-width: 1259px) {
      padding: 10px 4px;
      font-size: 12px;
    }

    @media screen and (max-width: 767px) {
      padding: 10px 0;
    }

    transition: color .3s ease;

    &:hover{
      color:$link;
    }
  }

  &__expert-text{
    display: inline-block;
    border-top: 1px solid #ccc;
    font-size: 19px;
    line-height: 29px;
    font-weight: 600;
    padding-top: 25px;
    cursor: pointer;

    @media screen and (max-width: 1259px) {
      padding-top: 15px;
      font-size: 15px;
      line-height: 21px;
      width: 100%;
    }

    transition: color .3s ease;

    &:hover{
      color:$link;
    }
  }

  .mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out; 
    -moz-transition: all 0.15s ease-out; 
    transition: all 0.15s ease-out;
  }
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
  }
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
  }
  
  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out; 
    -moz-transition: all 0.15s ease-out; 
    transition: all 0.15s ease-out;
  }
  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
  }
  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
  }

}