.section-begining.section
  .section-begining__title.title-section Не знаете с чего начать?   
  .container
    .section-begining__inner
      .section-begining__video.popup-youtube(href='https://www.youtube.com/watch?v=5yx6BWlEVcY')
        img.section-begining__video-img(src="assets/images/section-begining/video.jpg", alt="video")
        .section-begining__video-text Видеобзор нашего ресурса возможности для пользователя
      .section-begining__expert
        img.section-begining__expert-img(src="assets/images/section-begining/expert.jpg", alt="expert")
        a.section-begining__expert-title(href='#') Выбор экспертов 
        .section-begining__expert-text  Обзор нашего экспетра Элеоноры Рубинштейн-Загорской
          

