.style{

  &-slider__item{
    display: inline-block;
    width: 48.38709677419355%;
    @media screen and (max-width: 1259px) {
      width: 100%;
    }

    @media screen and (max-width: 537px) {
      padding-bottom: 55px;
    }

    &:nth-child(even){
      .style-slider__inner{
        float: right;
        @media screen and (max-width: 1259px) {
          float: left;  
        }    
      }

      
      @media screen and (max-width: 767px) {
        min-height: 140px;
        margin-bottom: 85px;
        overflow: visible;
      }
    }
  }

  &:nth-child(odd){
    .style-slider__img-wrapper{
      &:nth-child(2){
        &:after{ 
          @media screen and (max-width: 537px) {
            top: calc(105% + 47px);
          }
  
          @media screen and (max-width: 321px) {
            top: calc(105% + 67px);
          }
        }
      }
  
      &:first-child{
        &:after{ 
          @media screen and (max-width: 537px) {
            top: calc(105% + 47px);
          }
  
          @media screen and (max-width: 321px) {
            top: calc(105% + 67px);
          }
        }
      }
    }
  }

  &-slider__inner{
    padding-top: 55px;
    padding-bottom: 40px;
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 1259px) {
      margin: 0 auto;
      max-width: 100%;
      padding-bottom: 0;
    }

    @media screen and (max-width: 767px) {
      padding-top: 97px; 
      padding-bottom: 35px;
    } 

    @media screen and (max-width: 537px) {
      padding-bottom: 35px;
    } 
  }

  &-slider__img-wrapper{
    position: relative;
    width: 46.66666666666667%;
    background-color: #000;
    max-height: 280px;
    margin-bottom: 45px;
    display: flex;
    align-items:center;
    overflow: hidden;
    cursor: pointer;

    color:#fff;

    @media screen and (max-width: 1259px) {
      min-height: 228px;
    }

    @media screen and (max-width: 767px) {
      min-height: 140px;
      margin-bottom: 85px;
      overflow: visible;
    }

    &:hover{
      .style-slider__img{
        opacity: .2;
        transform: scale(1.2);
        @media screen and (max-width: 767px) {
          transform: none;
        }

      }
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 40px;
      height: 2px;
      background-color: #fff;

      @include posa-center

      @media screen and (max-width: 767px) {
        top: auto;
        left: 0;
        transform: translate(0%, 0%);
        background-color: #000;
        height: 1px;
        top: calc(105% + 30px);
      }
    }

    &:nth-child(2){
      &:after{ 
        @media screen and (max-width: 537px) {
          top: calc(105% + 47px);
        }

        @media screen and (max-width: 321px) {
          top: calc(105% + 67px);
        }
      }
    }

    &:last-child{
      &:after{ 
        @media screen and (max-width: 537px) {
          top: calc(105% + 47px);
        }

        @media screen and (max-width: 321px) {
          top: calc(105% + 67px);
        }
      }
    }
  }


  &-slider__img{
    width: 100%;
    max-height: 280px;
    opacity: .7;
    object-fit: cover;

    transition: opacity .3s ease,
                transform .3s ease;
  }

  &-slider__info{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    

    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;

    @media screen and (max-width: 767px) {
      height: auto;
      color:#000;
      text-align: left;
      font-size: 14px;
      top: auto;
      left: auto;
      top: 105%;
    }

    span{
      display: inline-block;
      width: 100%;

      @media screen and (max-width: 767px) {
        width: auto;
      }

      &:first-child{
        position: absolute;
        top: 25%;

        @media screen and (max-width: 767px) {
          position: relative;
          top: auto;
          margin-right: 10px;
        }
      }

      &:nth-child(2){
        position: absolute;
        top: 35%;

        @media screen and (max-width: 767px) {
          position: relative;
          top: auto;
        }
      }

      &:last-child{
        position: absolute;
        top: 55%;

        @media screen and (max-width: 767px) {
          position: relative;
          width: 100%;
          top: auto;
          bottom: -18px;
        }
      }
    }


  }

  &-slider__img-main{
    width: 100%;
  }

  .slick{
    &-slide{
      margin: 0 20px;

      @media screen and (max-width: 1259px) {
        margin: 0 15px;
      }
    }

    &-list{
      margin-left: -20px;
      margin-right: -20px;

      @media screen and (max-width: 1259px) {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
  }

  @include main-slick-arrow;
}
