.style.section
  .style__title.title-section Обзор стилей
  .container
    .style-slider(data-style-slider)
      .style-slider__item
        .style-slider__inner
          .style-slider__img-wrapper.style-slider__img-main
            img.style-slider__img(src="assets/images/style/img-6.jpg")
            .style-slider__info
              span Вдохновение
              span Длинное имя автора
              span Новое изобразительное искусство
          .style-slider__img-wrapper
            img.style-slider__img(src="assets/images/style/img-4.jpg")
            .style-slider__info
              span Вдохновение
              span Длинное имя автора
              span Новое изобразительное искусство
          .style-slider__img-wrapper
            img.style-slider__img(src="assets/images/style/img-5.jpg")
            .style-slider__info
              span Вдохновение
              span Длинное имя автора
              span Новое изобразительное искусство
      .style-slider__item
        .style-slider__inner
          .style-slider__img-wrapper
            img.style-slider__img(src="assets/images/style/img-1.jpg")
            .style-slider__info
              span Вдохновение
              span Длинное имя автора
              span Новое изобразительное искусство
          .style-slider__img-wrapper
            img.style-slider__img(src="assets/images/style/img-2.jpg")
            .style-slider__info
              span Вдохновение
              span Длинное имя автора
              span Новое изобразительное искусство
          .style-slider__img-wrapper.style-slider__img-main
            img.style-slider__img(src="assets/images/style/img-3.jpg")
            .style-slider__info
              span Вдохновение
              span Длинное имя автора
              span Новое изобразительное искусство
      .style-slider__item
        .style-slider__inner
          .style-slider__img-wrapper.style-slider__img-main
            img.style-slider__img(src="assets/images/style/img-7.jpg")
            .style-slider__info
              span Вдохновение
              span Длинное имя автора
              span Новое изобразительное искусство
          .style-slider__img-wrapper
            img.style-slider__img(src="assets/images/style/img-12.jpg")
            .style-slider__info
              span Вдохновение
              span Длинное имя автора
              span Новое изобразительное искусство
          .style-slider__img-wrapper
            img.style-slider__img(src="assets/images/style/img-11.jpg")
            .style-slider__info
              span Вдохновение
              span Длинное имя автора
              span Новое изобразительное искусство
      .style-slider__item
        .style-slider__inner
          .style-slider__img-wrapper
            img.style-slider__img(src="assets/images/style/img-13.jpg")
            .style-slider__info
              span Вдохновение
              span Длинное имя автора
              span Новое изобразительное искусство
          .style-slider__img-wrapper
            img.style-slider__img(src="assets/images/style/img-14.jpg")
            .style-slider__info
              span Вдохновение
              span Длинное имя автора
              span Новое изобразительное искусство
          .style-slider__img-wrapper.style-slider__img-main
            img.style-slider__img(src="assets/images/style/img-8.jpg")
            .style-slider__info
              span Вдохновение
              span Длинное имя автора
              span Новое изобразительное искусство
      .style-slider__item
        .style-slider__inner
          .style-slider__img-wrapper.style-slider__img-main
            img.style-slider__img(src="assets/images/style/img-9.jpg")
            .style-slider__info
              span Вдохновение
              span Автор
              span Новое изобразительное искусство
          .style-slider__img-wrapper
            img.style-slider__img(src="assets/images/style/img-15.jpg")
            .style-slider__info
              span Вдохновение
              span Автор
              span Новое изобразительное искусство
          .style-slider__img-wrapper
            img.style-slider__img(src="assets/images/style/img-16.jpg")
            .style-slider__info
              span Вдохновение
              span Автор
              span Новое изобразительное искусство
      .style-slider__item
        .style-slider__inner
          .style-slider__img-wrapper
            img.style-slider__img(src="assets/images/style/img-17.jpg")
            .style-slider__info
              span Вдохновение
              span Автор
              span Новое изобразительное искусство
          .style-slider__img-wrapper
            img.style-slider__img(src="assets/images/style/img-18.jpg")
            .style-slider__info
              span Вдохновение
              span Автор
              span Новое изобразительное искусство
          .style-slider__img-wrapper.style-slider__img-main
            img.style-slider__img(src="assets/images/style/img-10.jpg")
            .style-slider__info
              span Вдохновение
              span Автор
              span Новое изобразительное искусство

